[submodule "missions/missions/template-basico.Stratis"]
	path = missions/missions/template-basico.Stratis
	url = https://github.com/IgnacioKase/template-basico
[submodule "missions/template-basico.Stratis"]
	path = missions/template-basico.Stratis
	url = https://github.com/IgnacioKase/template-basico
[submodule "missions/entrenamientos-arga"]
	path = missions/entrenamientos-arga
	url = https://github.com/IgnacioKase/entrenamientos-arga
[submodule "missions/persistentes-arga"]
	path = missions/persistentes-arga
	url = https://github.com/IgnacioKase/persistentes-arga
